<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Animal Recognition.ipa</key>
	<array>
		<dict>
			<key>architectures</key>
			<array>
				<string>arm64</string>
			</array>
			<key>certificate</key>
			<dict>
				<key>SHA1</key>
				<string>01252212A34CE76074A4BAD8BD5D40799F4AFFAB</string>
				<key>dateExpires</key>
				<string>26/03/21</string>
				<key>type</key>
				<string>Apple Development</string>
			</dict>
			<key>entitlements</key>
			<dict>
				<key>application-identifier</key>
				<string>9T6A37YY89.www.infinitelearning.id.Animal-Recognition</string>
				<key>com.apple.developer.team-identifier</key>
				<string>9T6A37YY89</string>
				<key>get-task-allow</key>
				<true/>
				<key>keychain-access-groups</key>
				<array>
					<string>9T6A37YY89.www.infinitelearning.id.Animal-Recognition</string>
				</array>
			</dict>
			<key>name</key>
			<string>Animal Recognition.app</string>
			<key>profile</key>
			<dict>
				<key>UUID</key>
				<string>77716b87-ff18-4cfc-9f8d-a1ca7b2aab06</string>
				<key>name</key>
				<string>iOS Team Provisioning Profile: *</string>
			</dict>
			<key>team</key>
			<dict>
				<key>id</key>
				<string>9T6A37YY89</string>
				<key>name</key>
				<string>Sufiandy Elmy</string>
			</dict>
		</dict>
	</array>
</dict>
</plist>
